# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science.
- Introduce arithmetic expression examples in Python.
- Perform arithmetic operations using code cells.
- Convert minutes to hours using Python expressions.
- Understand the basics of Jupyter Notebook usage.

# Some of the popular languages that Data Scientists use are:

## 1. Python
## 2. R
## 3. Julia
## 4. SQL
## 5. Scala

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Visual Studio Code |

# Introduction to Arithmetic Expressions

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5

# Print the result
print(result)

17

In [13]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60

# Print the result
print(hours)

3.3333333333333335

## Author
My name is Soubhagya